@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');

/*
font-family: 'Lato', sans-serif;
font-weight: 100, 300, 400, 700;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navbar {
    background-color: transparent;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.navbar a {
    text-decoration: none;
    color: #FFF9FB;
    background-color: transparent;
}

.navbar-logo {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.nav-open {
    font-size: 25px;
    cursor: pointer;
}


nav {
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7F9C96;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-link {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF9FB;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 100px;
    position: relative;
    transition: all .7s ease;
}

.nav-link::before {
    content: ' ';
    height: 1.5px;
    width: 0%;
    background-color: #FA9F42;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    transition: all .4s ease;
}

.nav-link::after {
    content: ' ';
    height: 1.5px;
    width: 0%;
    background-color: #FA9F42;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    transition: all .4s ease;
}

.nav-link:hover {
    color: #181119;
}

.nav-link:hover::before,
.nav-link:hover::after {
    width: 50%;
}

.nav-social-links {
    display: flex;
    justify-content: center;
}

.nav-social-links span {
    margin-right: 50px;

}

.nav-social-links span i {
    color: #FFF9FB;
    font-size: 25px;
    cursor: pointer;
    transition: all .4ms ease;
}

.nav-close {
    color: #FFF9FB;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}


.container {
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#181119, transparent, #181119, #181119);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

img {
    position: absolute;
    top: -70px;
    left: 0;
    height: 100%;
    background-size: cover;
}


.hero-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 90%;
    padding: 40px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1-style {
    color: #FFF9FB;
    font-size: 52px;
}

.thin-text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 100;
}

.thick-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.btn-primary {
    background-color: #FA9F42;
    color: #FFF9FB;
    border: 2px solid #FA9F42;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    padding: 12px 36px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 4px 4px 8px #181119;
    font-size: 20px;
    font-weight: 600;
    transition: all .4s ease;
}

.btn-secondary {
    background-color: #181119;
    color: #FA9F42;
    border: 2px solid #FA9F42;
    padding: 12px 36px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 4px 4px 8px #373537;
    font-size: 20px;
    font-weight: 600;
    transition: all .4s ease;
}

.btn-primary:hover {
    border: 2px solid #FA9F42;
    background-color: #FFF9FB;
    color: #FA9F42;
    transform: scale(110%)
}

.btn-secondary:hover {
    background-color: #221b23;
    color: #FFF9FB;
    transform: scale(110%)
}

.section-dark {
    background-color: #181119;
    margin-top: 0;
    padding-bottom: 30px;
    border-bottom-right-radius: 100px;
}

.circle {
    margin: 0 auto 36px;
    height: 150px;
    width: 150px;
    background-color: #7F9C96;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    color: #FFF9FB;
    font-size: 56px;
}

.capture-your-sound,
.craft-your-sound,
.bring-your-sound-to-life {
    margin: 0 40px 40px 40px;
    color: #FFF9FB;
}

h2 {
    font-size: 36px;
}

.first-section-copy,
.second-section-copy {
    margin: 0 auto;
    font-size: 24px;
}

.hero-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-light {
    background-color: #FFF9FB;
    margin-top: 0;
    padding: 36px 40px 30px;
}



.heading {
    margin-bottom: 16px;
}

.studio-section {
    background-color: #181119;
    color: #FFF9FB;
    text-align: center;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 50px;
}


.grid-gallery {
    margin: 0 auto;
    padding: 16px;
    display: grid;
    height: 500px;
    width: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    gap: 16px;
}

.grid-square {
    grid-column: span 2;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: all .3s ease;
}

.site-btn-secondary {
    grid-column: 1 / span 4;
    margin: 32px auto;
}

.grid-square:hover {
    transform: scale(110%);
}

#img1 {
    background-image: url(assets/images/control_room_at_digital_mixer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#img2 {
    background-image: url(assets/images/masteringTrack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#img3 {
    background-image: url(assets/images/guitars001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#img4 {
    background-image: url(assets/images/Studio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#img5 {
    background-image: url(assets/images/mixingRoom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#img6 {
    background-image: url(assets/images/piano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.keywords {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
    transform-origin: 0%;
    animation: keywordMove 20s infinite;
    animation-timing-function: linear;
}

/* .keywords:hover {
    transform: translateX(25%);
} */

@keyframes keywordMove {
    0% {
        transform: translateX(-20%);
    }


    25% {
        transform: translateX(20%);
    }

    50% {
        transform: translateX(50%);
    }

    75% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-20%);
    }

}

.rates-section {
    background-color: #FFF9FB;
    color: #181119;
    text-align: center;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rates-area {
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr;
    gap: 16px;
}

.package-type {
    background-color: #7F9C96;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    color: #FFF9FB;
    box-shadow: 6px 6px 8px #7f7e7f;
}

.package-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.package-title,
.price {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 16px;
}

.package-description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 12px;
    text-align: left;
}

.package-description p {
    width: 80%;
}

.package-description i {
    font-size: 24px;
    cursor: pointer;
}

#packageBodyBasic,
#packageBodyStandard,
#packageBodyPremium {
    margin: 12px 8px 8px;
    display: none;
    transition: all .3s ease;
}

#cardCloseBasic,
#cardCloseStandard,
#cardClosePremium {
    display: none;
}

.card-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 12px auto;
}

.card-list li i {
    margin-right: 12px;
    font-size: 18px;
}
